name: GitHub CI

on:
  push:
    branches:
  pull_request:
    branches:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            os-name: windows
            qt-version: '5.12.11'
            mingw-version: 7.3
            mingw-short-version: 73

          - os: ubuntu-latest
            os-name: linux
            qt-version: '5.12.11'

          - os: macos-latest
            os-name: mac
            qt-version: '5.12.11'
    defaults:
      run:
        shell: bash

    steps:
      - name: Configure git
        run: |
            git config --global core.symlinks true
            git config --global core.autocrlf true

      - uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: ${{ matrix.qt-version }}
          host: ${{ matrix.os-name }}
          arch: 'win32_mingw${{ matrix.mingw-short-version }}'
          tools: 'tools_mingw,${{ matrix.mingw-version }}.0,qt.tools.win32_mingw${{ matrix.mingw-short-version }}0'

      - name: Update PATH
        run: |
             set -xue
             cygpath -w /usr/bin >> $GITHUB_PATH
             cygpath -w "${IQTA_TOOLS}/mingw${{matrix.mingw-short-version}}0_32/bin" >> $GITHUB_PATH
             cygpath -w "${Qt5_Dir}/bin" >> $GITHUB_PATH
        if: ${{ matrix.os-name == 'windows' }}

      - name: QMake
        run: 'qmake trikDesktopGamepad.pro CONFIG+=release'

      - name: QMake all
        timeout-minutes: 1
        run: make -j $(nproc) qmake_all

      - name: Make all
        timeout-minutes: 10
        run: make -j $(nproc) all
